argcomplete==3.7.2
attrs==26.1.0
autocommand==2.2.2
btrfsutil==7.1
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.4.7
click==8.3.3
cryptography==50.0.1
dbus-python==1.4.0
distro==1.9.0
evdev==2.0.0
filelock==3.29.5
gbinder-python==1.3.1
gps==3.27.5
html2text==2025.4.15
idna==3.19
InquirerPy==0.3.4
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
meson==1.12.0
more-itertools==11.1.0
nftables==0.1
packaging==26.3
pfzy==0.3.4
pillow==12.3.0
pipx==1.15.0
pkg_resources==81.0.0
platformdirs==4.11.4
prompt_toolkit==3.0.53
psutil==7.2.2
pwquality==1.4.5
pycairo==1.29.1
pycparser==3.0
pygdbmi==0.11.0.0
PyGObject==3.56.3
pygraphviz==2.0.1
python-distutils-extra==2.39
PyYAML==6.0.3
requests==2.34.2
sentry-sdk==2.68.0
setuptools==84.0.0
smbus==1.1
TBB @ file:///build/onetbb/src/build/python/python_build
tomlkit==0.15.1
tqdm==4.70.0
typing_extensions==4.16.0
urllib3==2.7.0
userpath==1.9.2
VapourSynth==77
wcwidth==0.8.2
websockets==16.1.1
wheel==0.48.0
xmltodict==1.0.4
yq==4.1.2
yt-dlp==2026.8.19
yt-dlp-ejs==0.8.0
