{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Вход — ТурбоСервер</title>

    <link rel="stylesheet" href="{% static 'hosting/css/base.css' %}">
</head>

<body>

<header class="header">
    <div class="container header-inner">
        <a href="{% url 'home' %}" class="logo">
            ТУРБОСЕРВЕР
        </a>
    </div>
</header>

<main class="auth-page">
    <div class="container">

        <div class="auth-card">

            <h1>Вход</h1>

            <form method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit">
                    Войти
                </button>
            </form>

            <p>
                Нет аккаунта?

                <a href="{% url 'register' %}">
                    Зарегистрироваться
                </a>
            </p>

        </div>

    </div>
</main>

</body>
</html>