{% extends "hosting/base.html" %}
{% load static %}

{% block title %}
    Удаление тарифа "{{ tariff.title }}"
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'hosting/css/tariff_detail.css' %}">
    <link rel="stylesheet" href="{% static 'hosting/css/tariff_form.css' %}">
{% endblock %}

{% block content %}

<main class="tariff-form-page">

    <div class="container">

        <a href="{% url 'pricing' %}" class="back-link">
            ← Вернуться к тарифам
        </a>

        <section class="tariff-detail-card tariff-form-card">

            <div class="tariff-form-header">
                <div>
                    <span class="form-label">
                        Управление тарифом
                    </span>

                    <h1>Удаление тарифа</h1>

                    <p>
                        Вы действительно хотите удалить тариф
                        «{{ tariff.title }}»?
                    </p>
                </div>
            </div>

            <div class="tariff-form-field">
                <p>
                    После удаления тариф исчезнет из списка доступных
                    тарифов. Это действие нельзя отменить.
                </p>
            </div>

            <form method="post" class="tariff-form">

                {% csrf_token %}

                <div class="tariff-form-actions">

                    <a
                        href="{% url 'pricing' %}"
                        class="form-cancel-btn"
                    >
                        Отмена
                    </a>

                    <button
                        type="submit"
                        class="form-save-btn"
                    >
                        Удалить тариф
                    </button>

                </div>

            </form>

        </section>

    </div>

</main>

{% endblock %}